name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-push-create-release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Get the commit SHA
      id: getsha
      run: echo "::set-output name=sha::$(git rev-parse --short HEAD)"

    - name: Docker Login
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
        logout: true

    - name: Build the Docker image
      run: docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/simple-app:${{ steps.getsha.outputs.sha }} .

    - name: Push the Docker image
      run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/simple-app:${{ steps.getsha.outputs.sha }}

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      with:
        tag_name: ${{ secrets.DOCKER_HUB_USERNAME }}/simple-app:${{ steps.getsha.outputs.sha }}
        release_name: Release ${{ secrets.DOCKER_HUB_USERNAME }}/simple-app:${{ steps.getsha.outputs.sha }}
        body: |
          Release of simple-app-${{ steps.getsha.outputs.sha }} to docker hub
        draft: false
        prerelease: false
